# rename this file to .env and supply the values listed below
# also make sure they are available to the build tool (e.g. vercel)

NEXT_PUBLIC_ALGOLIA_APP_ID=xxxxxxxxxx
NEXT_PUBLIC_ALGOLIA_SEARCH_ONLY_KEY=xxxxxxxxxxxxxxxxxxxxx
NEXT_PUBLIC_ALGOLIA_INDEX_NAME=xxxxx
ALGOLIA_ADMIN_KEY=xxxxxxxxxxxxxxxxxxxxx
NEXT_PUBLIC_GA_TRACKING=G-xxxxxxxxxx
NEXT_PUBLIC_ADSENSE_CLIENT=ca-pub-xxxxxxxxxxxxx